<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_Duan.Properties.Settings.QL_DuanConnectionString"
            connectionString="Data Source=WIN-EDAQ5ARTETT;Initial Catalog=QL_Duan;User ID=sa;Password=Vinh@1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>